body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #000000;
    line-height: 1.4;
    position: relative;
    font-family: sans-serif;
    font-size: 14px;
  }
.block_menu_item_title{
  color: #000000;
  font-size: 25px;
  font-weight: bold;
}

.header {
padding-bottom:80px;
font-family:'Source Sans Pro', sans-serif;
}
    
@media (min-width:768px) {
.header {
padding-bottom: 0px;
}
}
    
.header .navbar {
background:black;
padding-top:5px;
padding-bottom:5px;
color:#fff;
border-radius:0;
box-shadow:none;
border:none;
}
    
@media (min-width:768px) {
.header .navbar {
padding-top:1rem;
padding-bottom:1rem;
}
}
    
    .header.navbar .navbar-brand {
      font-weight:bold;
      color:inherit;
    }
    
    .header .navbar .navbar-brand:hover {
      color:#f0f0f0;
    }
    
    .header .navbar .navbar-collapse {
      border-top:1px solid rgba(255,255,255,0.3);
      margin-top:.5rem;
    }
    
    @media (min-width:768px) {
      .header .navbar .navbar-collapse {
        border-color:transparent;
        margin:0;
      }
    }
    
    .header .navbar .navbar-collapse span .login {
      color:#d9d9d9;
      margin-right:.5rem;
      text-decoration:none;
    }
    
    .header .navbar .navbar-collapse span .login:hover {
      color:#fff;
    }
    
    .header .navbar .navbar-toggler {
      border-color:rgba(255,255,255,0.3);
    }
    
    .header .navbar .navbar-toggler:hover, .header .navbar-toggler:focus {
      background:none;
    }
    
    .header.navbar .navbar-nav a.active, .header .navbar .navbar-nav > .show .dropdown-item {
      background:none;
      box-shadow:none;
    }
    
    @media (min-width: 768px) {
      .header .navbar-nav .nav-link {
        padding-left:.7rem;
        padding-right:.7rem;
      }
    }
    
    @media (min-width: 992px) {
      .header .navbar-nav .nav-link {
        padding-left:1.2rem;
        padding-right:1.2rem;
      }
    }
    
    .header .navbar .navbar-nav > li > .dropdown-menu {
      margin-top:-5px;
      box-shadow:0 4px 8px rgba(0,0,0,.1);
      background-color:#fff;
      border-radius:2px;
    }
    
    .header .navbar .dropdown-menu .dropdown-item:focus, .header.navbar .dropdown-menu .dropdown-item:hover {
      background:#ebeff1;
    }
    
    .header .action-button, .header .action-button:not(.disabled):active {
      border:1px solid rgba(255,255,255,0.7);
      border-radius:40px;
      color:#ebeff1;
      box-shadow:none;
      text-shadow:none;
      padding:.3rem .8rem;
      background:transparent;
      transition:background-color 0.25s;
      outline:none;
    }
    
    .header.action-button:hover {
      color:#fff;
    }
    
    .header .navbar .form-inline label {
      color:#d9d9d9;
    }
    
    .header .navbar .form-inline .search-field {
      display:inline-block;
      width:80%;
      background:none;
      border:none;
      border-bottom:1px solid transparent;
      border-radius:0;
      color:#ccc;
      box-shadow:none;
      color:inherit;
      transition:border-bottom-color 0.3s;
    }
    
    .header.navbar .form-inline .search-field:focus {
      border-bottom:1px solid #ccc;
    }
    
    .header .hero {
      margin-top:20px;
      text-align:center;
    }
    
    @media (min-width:768px) {
      .header .hero {
        margin-top:60px;
        text-align:left;
      }
    }
    
    .header .hero h1 {
      color:#fff;
      font-size:40px;
      margin-top:0;
      margin-bottom:15px;
      font-weight:300;
      line-height:1.4;
    }
    
    @media (min-width:992px) {
      .header .hero h1 {
        margin-top:190px;
        margin-bottom:0px;
        line-height:1.2;
      }
    }
    
    .header .hero p {
      color:rgba(255,255,255,0.8);
      font-size:20px;
      margin-bottom:30px;
      font-weight:300;
    }
    
    .header .phone-holder {
      text-align:right;
    }
    
    .header div.iphone-mockup {
      position:relative;
      max-width:300px;
      margin:20px;
      display:inline-block;
    }
    
    .header .iphone-mockup img.device {
      width:100%;
      height:auto;
    }
    .nav-list{
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
  }
    
  .nav-item-nav-link {
      text-decoration: none;
      font-size: 14px;
      padding: 0 15px;
      color:#a5a5a5;
  }
    
  .nav-list-line {
      border-right: 1px solid #a5a5a5;
  }
  
  .nav-item-nav-link:hover{
    color:#ffffff;
  }

  .nav-list-line:last-of-type {
      border-right: none;
  }



    .sidebar-section {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    
    .sidebar-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    

      a:hover {
        color:#ea8025;
        }

    .dropdown-item{
        color:black;
    }
  .dropdown-content{
    display: none; 
    position: absolute;
    z-index: 1;
    background-color: #f5f5f5;
  }
  .dropdown:hover .dropdown-content{
    display: block;
  }
  .nav-item::after{
    content:'';
    display:block;
    width:0px;
    height:2px;
    background: #ea8025;
    transition: 0.2s;
  }
  .nav-item:hover::after{
    width:100%;
  }
  .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color:rgb(255, 255, 255);
  }
  .nav-link{
    padding:15px 5px;
    transition:0.2s;
  }
  .dropdown-item:focus, .dropdown-item:hover{
    background:rgb(255, 255, 255);
  }

@media screen and (max-width: 600px) {   
.row, .navbar {     
  flex-direction: column; 
  } 
}

*{
  font-family: arial;
}

.dropdown{
  position: relative;
  display: inline-block;
  }
.dropdown-content{
  display: none; 
  position: absolute;
  z-index: 1;
  background-color: #f5f5f5;
}
.dropdown:hover .dropdown-content{
  display: block;
}

ul li{
  list-style-type: none;
}




.hero-area,
.hero-slides {
  position: relative;
  z-index: 1; }

.single-hero-slide {
  width: 100%;
  height: 950px;
  position: relative;
  z-index: 1;
  padding: 0 30px;
  overflow: hidden; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-hero-slide {
      height: 700px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-hero-slide {
      height: 650px; } }
  @media only screen and (max-width: 767px) {
    .single-hero-slide {
      height: 500px; } }
  .single-hero-slide::after {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    content: ''; }
  .single-hero-slide .slide-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .single-hero-slide .hero-slides-content {
    display: inline-block;
    width: 100%; }
    .single-hero-slide .hero-slides-content h6 {
      font-size: 18px;
      color: #fff;
      letter-spacing: 20px;
      text-transform: uppercase;
      margin-bottom: 20px;
      display: block; }
      @media only screen and (max-width: 767px) {
        .single-hero-slide .hero-slides-content h6 {
          letter-spacing: 5px; } }
    .single-hero-slide .hero-slides-content h2 {
      position: relative;
      z-index: 1;
      font-size: 60px;
      color: #ffffff;
      margin-bottom: 0;
      font-weight: 400;
      display: block;
      text-transform: capitalize;
      letter-spacing: 30px;
      overflow: hidden; }
      .single-hero-slide .hero-slides-content h2 span {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        color: rgba(255, 255, 255, 0.15);
        -webkit-animation: textsonar 6s linear infinite;
        animation: textsonar 6s linear infinite; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-hero-slide .hero-slides-content h2 {
          letter-spacing: 15px;
          font-size: 42px; } }
      @media only screen and (max-width: 767px) {
        .single-hero-slide .hero-slides-content h2 {
          letter-spacing: 5px;
          font-size: 30px; } }
    .single-hero-slide .hero-slides-content .btn {
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff; }
      .single-hero-slide .hero-slides-content .btn:hover, .single-hero-slide .hero-slides-content .btn:focus {
        background-color: #fff;
        color: #000000; }

@-webkit-keyframes textsonar {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  50% {
    -webkit-transform: scaleX(1.15);
    transform: scaleX(1.15); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }
@keyframes textsonar {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  50% {
    -webkit-transform: scaleX(1.15);
    transform: scaleX(1.15); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }
.single-hero-slide .slide-img {
  -webkit-animation: slide 12s linear infinite;
  animation: slide 12s linear infinite; }

@-webkit-keyframes slide {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes slide {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }