body {
  color: #000;
  overflow-x: hidden;
  background-color: #B0BEC5;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  }
  
.col-lg-5{
  padding: 30px 50px 20px 50px; 
  background-color: white;
  height: 750px;
}

.col-lg-5 h3{
  font-weight: bold;
}

.col-lg-7{
  padding: 0 0 0 0;
}
.border-md {
  border-width: 2px;
}

.btn-google-plus {
  background: transparent;
  border-color: #ea4335;
  color:#ea4335;
}

.btn-google-plus:hover,.btn-google-plus:focus {
  background: #ea4335;
  color:white;
}

.btn-facebook {
  background: transparent;
  border-color: #405D9D;;
  color:#405D9D;;
}

.btn-facebook:hover, .btn-facebook:focus {
  background: #405D9D;
  color:white;
}

.btn-twitter {
  background: transparent;
  border-color: #42AEEC;;
  color:#42AEEC;;
}

.btn-twitter:hover, .btn-twitter:focus {
  background: #42AEEC;
  color:white;
}

.btn-apple {
  background: transparent;
  border-color: #313131;
  color:#313131;
}

.btn-apple:hover, .btn-apple:focus {
  background: #000000;
  color:white;
}
  
  .line {
  height: 1px;
  width: 45%;
  background-color: #E0E0E0;
  margin-top: 10px
  }
  
  .or {
  width: 10%;
  font-weight: bold
  }
  
  .text-sm {
  font-size: 14px,
  }

  ::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
  }
  
  :-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
  }
  
  ::-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
  }
  
  input,textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px
  }
  
  input:focus,
  textarea:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ea8025;
  outline-width: 0
  }
  
  button:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline-width: 0
  }
  
  a {
  color: inherit;
  cursor: pointer
  }
  
  .btn-blue {
  background-color: #0e0a07;
  width: 150px;
  color: #fff;
  border-radius: 2px
  }
  
  .btn-blue:hover {
  color: rgb(146, 146, 146);
  cursor: pointer
  }
  
  .bg-blue {
  color: #fff;
  background-color: #1A237E
  }
  
  @media screen and (max-width: 991px) {
  .logo {
  margin-left: 0px
  }
  
  .image {
  width: 100%;
  height: 100
  }
  
  .border-line {
  border-right: none
  }
  
  .card2 {
  border-top: 1px solid #EEEEEE !important;
  margin: 0px 15px
  }
  }
  .back:hover{
    color:#ea8025;
  }